main {

  font-family: 'Open Sans', sans-serif;

  h2 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
  }

  height: 100vh;

  #food-list {
    li {
      padding: 5px;
      cursor: pointer;
      margin: 2px;
      transition: opacity 0.5s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  #previous-day > i, #next-day > i {
    position: absolute;
    top: 50%;
    cursor: pointer;
  }

  table {
    // border: 1px solid #ccc;
    // padding: 6px;

    i {
      cursor: pointer;
      color: #26a69a;
    }

    td {
      padding: 10px 5px 10px 10px;
    }
  }

  .axis--x path {
    // display: none;
    stroke: #000;
    stroke-width: 0.5;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .area {
    fill: #26a69a;
  }
}
