
<table class="highlight">
  <tbody>
    {{#each item}}
      <tr>
        <td>{{item_name}}</td>
        <td><i class="material-icons" id="{{foodId}}">delete</i></td>
      </tr>
    {{/each}}
  </tbody>
</table>

